*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 54px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  padding: 5px 0px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  column-gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  padding-top: 2px;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  background: transparent;
  font-family: inherit;
  font-size: 18px;
  width: 225px;
  height: 27px;
  appearance: none;
  padding: 0;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  outline: 1px solid #FFF;
  display: block;
}

.content__list {
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  height: 100%;
  width: 100%;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 394px;
  height: 107px;
  padding: 2px;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.result__video-container {
  height: 386px;
  width: 711px ;
  position: relative;
}

.result__video {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
  display: block;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
}

.content__video-card-description {
  margin-top: 6px;
  font-weight: 400;
  line-height: 16.2px;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #FFF;
  height: 34px;
  border: 1px solid #FFF;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.more-button {
  width: 100%;
}